<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="height100" (backdropClick)="globalUI.setSidebarOpen(false)">
    <mat-sidenav *mobxAutorun mode="push" [opened]="globalUI.sidebarOpen">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="height100">
            <app-navbar></app-navbar>
            <router-outlet>
            </router-outlet>

            <button id="capture-button" mat-fab>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>